* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --berry:#ac3616;
    --pine:#5e6742;
    --branch:#896663;
    --wall:#d5dade;
    --leaf:#a1a6a0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fafafa;
}
nav {
    padding: 1.5rem;
    background-color: brown;
}
.nav-menu {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}
.nav-menu li {
    margin: 0 0.5rem;
}
.nav-menu a {
    text-decoration: none;
    color: white;
    background-color: rgb(200,20,20);
    display: block;
    border-radius: 5px;
    padding: 0.5rem;
    font-size: 1.2rem;
    transition: background-color font-size 0.5s ease;
}
.nav-menu a:hover {
    background: red;
    font-size: 1.3rem;
}
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: brown;
    border-bottom: 0.5rem brown ridge;
}
.logo {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 2rem;
    text-decoration: underline;
}
footer p {
    color: white;
    text-align: center;
}
.large-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 1rem;
    padding: 0 10px;
    margin-bottom: 3rem;
}
.card-large {
    background: white;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}
.top-img img {
    width: 100%;
    height: 625px;
    object-fit: cover;
    object-position: center;
    border-radius: 8px 8px 0 0;
    margin-bottom: 15px;
}
.card-title {
    color: var(--branch);
    font-size: 3rem;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: underline;
}
.card-large p {
    color: #616660;
    margin-bottom: 20px;
    line-height: 1.6;
}
.card-large .price {
    font-size: 1.5rem;
    color: green;
}
.btn-box {
    display: flex;
    justify-content: space-between;
}
.btn {
    text-decoration: none;
    background-color: darkgreen;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 6px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 101px;
}
.btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    background-color:forestgreen;
}
footer {
    display: flex;
}
.footer {
    background-color: darkgreen;
    width: 100%;
    padding: 1rem;
}