* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --berry:#ac3616;
    --pine:#5e6742;
    --branch:#896663;
    --wall:#d5dade;
    --leaf:#a1a6a0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #effff0;
}
main {
    border-right: solid transparent 1rem;
    border-left: solid transparent 1rem;
    border-image: linear-gradient(brown, darkgreen) 1;
    padding-top: 0.7rem;
    margin-top: 5.8rem;
}
nav {
    padding: 1.5rem;
    background-color: brown;
}
.nav-menu {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}
.nav-menu li {
    margin: 0 0.5rem;
}
.nav-menu a {
    text-decoration: none;
    color: #dfdfdf;
    background-color: rgb(200,20,20);
    display: block;
    border-radius: 5px;
    padding: 0.5rem;
    font-size: 1.2rem;
    transition: all 0.5s ease;
}
.nav-menu a:hover {
    background: red;
    color: white;
}
.nav-container {
    background-color: brown;
    padding: 0rem 1rem;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.5rem brown ridge;
}
.logo {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 2rem;
    text-decoration: underline;
}
footer p {
    color: white;
    text-align: center;
}
.large-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 1rem;
    padding: 0 10px;
    padding-bottom: 3rem;
}
.card-large {
    background: white;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}
.rose-img {
    width: 100%;
    height: 625px;
    position: relative;
    background-image: url(/html/images/roses1080.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px 8px 0 0;
    margin-bottom: 15px;
}
.snake-img {
    width: 100%;
    height: 625px;
    position: relative;
    background-image: url(/html/images/blacksnake1080.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px 8px 0 0;
    margin-bottom: 15px;
}
.house-img {
    width: 100%;
    height: 625px;
    position: relative;
    background-image: url(/html/images/house1080.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px 8px 0 0;
    margin-bottom: 15px;
}
.greenhouse-img {
    width: 100%;
    height: 625px;
    position: relative;
    background-image: url(/html/images/greenhouse1080.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px 8px 0 0;
    margin-bottom: 15px;
}
.pigeon-img {
    width: 100%;
    height: 625px;
    position: relative;
    background-image: url(/html/images/pigeons1080.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px 8px 0 0;
    margin-bottom: 15px;
}
.koi-img {
    width: 100%;
    height: 625px;
    position: relative;
    background-image: url(/html/images/koipond1080.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px 8px 0 0;
    margin-bottom: 15px;
}
.library-img {
    width: 100%;
    height: 625px;
    position: relative;
    background-image: url(/html/images/library1080.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px 8px 0 0;
    margin-bottom: 15px;
}
.pc-img {
    width: 100%;
    height: 625px;
    position: relative;
    background-image: url(/html/images/pc1080.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px 8px 0 0;
    margin-bottom: 15px;
}
.tree-img {
    width: 100%;
    height: 625px;
    position: relative;
    background-image: url(/html/images/trees1080.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px 8px 0 0;
    margin-bottom: 15px;
}
.library-img::before {
    content: ''; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 5;
}
.snake-img::before {
    content: ''; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 5;
}
.house-img::before {
    content: ''; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 5;
}
.pigeon-img::before {
    content: ''; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 5;
}
.pc-img::before {
    content: ''; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 5;
}
.tree-img::before {
    content: ''; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 5;
}
.greenhouse-img::before {
    content: ''; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 5;
}
.koi-img::before {
    content: ''; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 5;
}
.rose-img::before {
    content: ''; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 5;
}
.card-title {
    color: silver;
    font-size: 3rem;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: underline;
    z-index: 10;
}
.card-large p {
    color: #5e6742;
    font-size: 1.5rem;
    line-height: 2;
    text-align: justify;
}
.card-large .price {
    font-size: 2.5rem;
    color: green;
}
.btn-box {
    display: flex;
    justify-content: space-between;
}
.btn-grn {
    text-decoration: none;
    background-color: darkgreen;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 6px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 127px;
}
.btn-grn:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    background-color:forestgreen;
}
.btn-red {
    text-decoration: none;
    background-color: brown;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 6px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 127px;
}
.btn-red:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    background-color:red;
}
footer {
    display: flex;
    box-shadow: 10px 0 0 0 rgba(0, 0, 0, 0.8);
}
.footer {
    background-color: darkgreen;
    width: 100%;
    padding: 1.5rem 0;
    border-top: ridge gold 0.2rem;
}